header {
    background-image: url(./assets/homepage-womansmiling.jpg);
    background-image: linear-gradient(to right,
            rgba(var(--synova-blue-1000), .5) 30%,
            rgba(var(--synova-blue-1000), 0) 50%),
        url(./assets/homepage-womansmiling.jpg);
    background-blend-mode: normal, normal, multiply, normal;
    background-position: 65% 10%;
    background-size: cover;

    height: 70vh;
    max-height: 750px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--section-padding-standard-h) var(--section-padding-standard-w);

    .content {
        width: 100%;
        max-width: 1080px;
        display: flex;
        flex-direction: column;
        gap: 24px;

        h1 {

            padding-left: 48px;
            border-left: 3px solid rgb(var(--synova-green-400));
            font-weight: 400;
            color: rgb(var(--synova-neutral-200));

            .main {
                text-transform: uppercase;
                font-size: 72px;

            }

            subheader {
                font-size: 32px;
            }
        }

        .button-array {
            display: flex;
            flex-direction: row;
            gap: 24px;

            .survey,.call {
                text-decoration: unset;
                display: flex;
                padding: 12px 24px;
                font-size: 24px;

                &:nth-child(1) {
                    background-color: rgb(var(--synova-blue-800));
                    color: rgb(var(--synova-neutral-300));
                }

                &:nth-child(2) {
                    background-color: rgb(var(--synova-neutral-200));
                    color: rgb(var(--synova-green-900));
                }
            }
        }
    }
}

@media (max-width: 520px) {
    header {
        align-items: flex-end;
        background-image: linear-gradient(to top,
                rgba(var(--synova-blue-1000), .5) 40%,
                rgba(var(--synova-blue-1000), 0) 70%),
            url(./assets/homepage-womansmiling.jpg);
        height: 85vh;
        justify-content: center;

        .content {
            h1 {
                padding: unset;
                border: unset;
            }

            .button-array {
                flex-direction: column;

                button {
                    width: 75%;
                    text-align: left;
                }
            }
        }
    }
}