<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-25WM5W7VPM"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-25WM5W7VPM');
</script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout Index Page</title>
    <link rel="stylesheet" href="../styles.css">
    <script src="../mini-nav.js" defer></script>
    <script src="../contact_us.js" defer></script>
</head>

<body>
    <nav>
        <div class="main">
            <a href="../" aria-label="Synova HCM Homepage">
                <img src="../assets/synova-logo.svg" alt="">
            </a>

            <ul>
                <li>
                    <a href="../services/">Services</a>
                </li>
                <li>
                    <a href="../industries/">Industries</a>
                </li>
                <!-- <li>
                    <a href="../why-synova">Why Go Synova</a>
                </li> -->
                <li>
                    <a href="../about-us.html">About Us</a>
                </li>
            </ul>
        </div>
        <a href="#contact" class="contact" id="nav-contact-button">
            Get Started
        </a>
        <button id="mini-nav" type="button" title="Open Nav Bar">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="15" viewBox="0 0 20 15" fill="none">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M0 1.5C0 0.671631 0.671631 0 1.5 0H18.5C19.3284 0 20 0.671631 20 1.5C20 2.32837 19.3284 3 18.5 3H1.5C0.671631 3 0 2.32837 0 1.5ZM0 7.5C0 6.67163 0.671631 6 1.5 6H18.5C19.3284 6 20 6.67163 20 7.5C20 8.32837 19.3284 9 18.5 9H1.5C0.671631 9 0 8.32837 0 7.5ZM1.5 12C0.671631 12 0 12.6716 0 13.5C0 14.3284 0.671631 15 1.5 15H18.5C19.3284 15 20 14.3284 20 13.5C20 12.6716 19.3284 12 18.5 12H1.5Z"
                    fill="white" />
            </svg>
        </button>
        <button id="nav-exit" type="button" title="Exit Nav Bar">
            <svg width="1200pt" height="1200pt" version="1.1" viewBox="0 0 1200 1200"
                xmlns="http://www.w3.org/2000/svg">
                <path
                    d="m784.8 600 374.4-374.4c14.398-14.398 14.398-38.398 0-52.801l-132-132c-14.398-14.398-38.398-14.398-52.801 0l-374.4 374.4-374.4-374.4c-14.398-14.398-38.398-14.398-52.801 0l-132 132c-14.398 14.398-14.398 38.398 0 52.801l374.4 374.4-374.4 374.4c-14.398 14.398-14.398 38.398 0 52.801l132 132c14.398 14.398 38.398 14.398 52.801 0l374.4-374.4 374.4 374.4c14.398 14.398 38.398 14.398 52.801 0l132-132c14.398-14.398 14.398-38.398 0-52.801z" />
            </svg>
        </button>
    </nav>

    <h1>Layouts on display</h1>
    <h2>Layout 1</h2>
    <section class="layout-1" color-theme="1">
        <h2>Lorem Ipsum Dolor Sit Amet</h2>
        <p class="subhead">Lorem Ipsum Dolor Sit Amet</p>
        <div class="content-grid">
            <div class="card">
                <img src="../assets/default-img.jpg" alt="default image">

                <h3>Lorem Ipsum</h3>
                <p>Figma ipsum component variant main layer. Connection boolean distribute underline bullet layer
                    subtract.</p>
                <a href="">Learn More</a>
            </div>
            <div class="card">
                <img src="../assets/default-img.jpg" alt="default image">

                <h3>Lorem Ipsum</h3>
                <p>Figma ipsum component variant main layer. Connection boolean distribute underline bullet layer
                    subtract.</p>
                <a href="">Learn More</a>
            </div>
            <div class="card">
                <img src="../assets/default-img.jpg" alt="default image">

                <h3>Lorem Ipsum</h3>
                <p>Figma ipsum component variant main layer. Connection boolean distribute underline bullet layer
                    subtract.</p>
                <a href="">Learn More</a>
            </div>
            <div class="card">
                <img src="../assets/default-img.jpg" alt="default image">

                <h3>Lorem Ipsum</h3>
                <p>Figma ipsum component variant main layer. Connection boolean distribute underline bullet layer
                    subtract.</p>
                <a href="">Learn More</a>
            </div>
        </div>
    </section>

    <h2>Layout 2</h2>
    <section class="layout-2" color-theme="1">
        <div class="content">
            <div class="header-content">
                <h2>Lorem Ipsum Dolor Sit Amet</h2>
                <p class="subhead">Lorem Ipsum Dolor Sit Amet</p>
            </div>
            <div class="detail-content">
                <p class="main">Figma ipsum component variant main layer. Figjam hand rotate line align follower pixel
                    rotate editor share. Project auto comment rectangle mask opacity bold blur. Bullet arrange team
                    scale italic frame pencil link project. Scrolling mask move move clip. Italic link star style clip
                    arrange rectangle strikethrough thumbnail.</p>
                <p>Figma ipsum component variant main layer. Arrow plugin move pixel comment. Opacity fill clip text
                    flows edit pencil prototype connection team. Flows rectangle strikethrough union flows select
                    rectangle frame. Follower fill strikethrough clip project rotate bullet horizontal line. Invite
                    connection frame library scale scrolling layout invite shadow align.</p>
                <a href="">Learn More</a>
            </div>
        </div>
    </section>

    <h2>Layout 3</h2>
    <section class="layout-3" color-theme="1">
        <h2>Leadership</h2>
        <p>Figma ipsum dolor sit amet</p>
        <div class="content-array">
            <div class="card">
                <div class="label">
                    <p class="name">Lorem Ipsum</p>
                    <p>Position in the company</p>
                </div>
            </div>
            <div class="card">
                <div class="label">
                    <p class="name">Lorem Ipsum</p>
                    <p>Position in the company</p>
                </div>
            </div>
            <div class="card">
                <div class="label">
                    <p class="name">Lorem Ipsum</p>
                    <p>Position in the company</p>
                </div>
            </div>
            <div class="card">
                <div class="label">
                    <p class="name">Lorem Ipsum</p>
                    <p>Position in the company</p>
                </div>
            </div>
            <div class="card">
                <div class="label">
                    <p class="name">Lorem Ipsum</p>
                    <p>Position in the company</p>
                </div>
            </div>
        </div>
    </section>

    <h2>Layout 4</h2>
    <section class="layout-4" color-theme="1">
        <div class="card">
            <div class="stat">
                <p class="main">
                    Stat
                </p>
                <p>Quick name of feature</p>
            </div>
            <div class="img-container">
                <img src="../assets/default-img.jpg" alt="default image">
            </div>
        </div>
        <div class="card">
            <div class="stat">
                <p class="main">
                    Stat
                </p>
                <p>Quick name of feature</p>
            </div>
            <div class="img-container">
                <img src="../assets/default-img.jpg" alt="default image">
            </div>
        </div>
        <div class="card">
            <div class="stat">
                <p class="main">
                    Stat
                </p>
                <p>Quick name of feature</p>
            </div>
            <div class="img-container">
                <img src="../assets/default-img.jpg" alt="default image">
            </div>
        </div>
        <div class="card">
            <div class="stat">
                <p class="main">
                    Stat
                </p>
                <p>Quick name of feature</p>
            </div>
            <div class="img-container">
                <img src="../assets/default-img.jpg" alt="default image">
            </div>
        </div>
    </section>

    <h2>Layout 5</h2>
    <section class="layout-5" color-theme="1">
        <div class="content">
            <div class="txt-content">
                <h2>Your People. Our Priority</h2>
                <p class="subhead">Learn how to add the Human touch to Human Resources</p>
                <p>Figma ipsum component variant main layer. Ellipse pen flatten flatten union bold export device. Style
                    draft inspect pencil main scrolling prototype underline fill link. Asset rotate selection link fill
                    asset arrange polygon comment stroke. Vector selection text slice pen shadow.</p>
                <a href="">Schedule a Call</a>
            </div>
            <div class="grid-content">
                <div class="card">
                    <img src="" alt="">
                    <p class="label">Synovan Value</p>
                </div>
                <div class="card">
                    <img src="" alt="">
                    <p class="label">Synovan Value</p>
                </div>
                <div class="card">
                    <img src="" alt="">
                    <p class="label">Synovan Value</p>
                </div>
            </div>
        </div>
    </section>

    <h2>Layout 6</h2>
    <section class="layout-6" color-theme="1">
        <h2>Solutions</h2>
        <div class="content-grid">
            <div class="card">
                <h3>Onboarding, Pre-boarding, Off-boarding</h3>
                <p>Figma ipsum component variant main layer. Pencil select pixel arrow effect.</p>
                <a href="">Learn More</a>
            </div>
            <div class="card">
                <h3>Onboarding, Pre-boarding, Off-boarding</h3>
                <p>Figma ipsum component variant main layer. Pencil select pixel arrow effect.</p>
                <a href="">Learn More</a>
            </div>
            <div class="card">
                <h3>Onboarding, Pre-boarding, Off-boarding</h3>
                <p>Figma ipsum component variant main layer. Pencil select pixel arrow effect.</p>
                <a href="">Learn More</a>
            </div>
            <div class="card">
                <h3>Onboarding, Pre-boarding, Off-boarding</h3>
                <p>Figma ipsum component variant main layer. Pencil select pixel arrow effect.</p>
                <a href="">Learn More</a>
            </div>
            <div class="card">
                <h3>Onboarding, Pre-boarding, Off-boarding</h3>
                <p>Figma ipsum component variant main layer. Pencil select pixel arrow effect.</p>
                <a href="">Learn More</a>
            </div>
            <div class="card">
                <h3>Onboarding, Pre-boarding, Off-boarding</h3>
                <p>Figma ipsum component variant main layer. Pencil select pixel arrow effect.</p>
                <a href="">Learn More</a>
            </div>
            <div class="card">
                <h3>Onboarding, Pre-boarding, Off-boarding</h3>
                <p>Figma ipsum component variant main layer. Pencil select pixel arrow effect.</p>
                <a href="">Learn More</a>
            </div>
            <div class="card">
                <h3>Onboarding, Pre-boarding, Off-boarding</h3>
                <p>Figma ipsum component variant main layer. Pencil select pixel arrow effect.</p>
                <a href="">Learn More</a>
            </div>
            <div class="card">
                <h3>Onboarding, Pre-boarding, Off-boarding</h3>
                <p>Figma ipsum component variant main layer. Pencil select pixel arrow effect.</p>
                <a href="">Learn More</a>
            </div>
            <div class="card">
                <h3>Onboarding, Pre-boarding, Off-boarding</h3>
                <p>Figma ipsum component variant main layer. Pencil select pixel arrow effect.</p>
                <a href="">Learn More</a>
            </div>
        </div>
    </section>

    <h2>Lyout 7</h2>
    <section class="layout-7" color-theme="1">
        <h2>Lorem Ipsum Dolor Sit Amet</h2>
        <p class="subhead">Lorem Ipsum Dolor Sit Amet</p>
        <div class="content-array">
            <div class="card">
                <img src="../assets/default-img.jpg" alt="default image">
                <h3>Lorem Ipsum</h3>
                <p>Figma ipsum component variant main layer. Connection boolean distribute underline bullet layer
                    subtract.</p>
                <a href="">Learn More</a>
            </div>
            <div class="card">
                <img src="../assets/default-img.jpg" alt="default image">
                <h3>Lorem Ipsum</h3>
                <p>Figma ipsum component variant main layer. Connection boolean distribute underline bullet layer
                    subtract.</p>
                <a href="">Learn More</a>
            </div>
        </div>

        <a class="cta" href="#contact">Schedule a Call</a>
    </section>

    <h2>Layout 8</h2>
    <section class="layout-8" color-theme="1">
        <div class="content">
            <h2>Leadership</h2>
            <p>Figma ipsum component variant main layer. Flatten hand mask library create connection clip arrange.
                Flatten community rectangle duplicate star plugin project inspect plugin. Project connection stroke
                asset pencil share flatten distribute. Project flows mask flows underline asset connection. Layout
                prototype shadow distribute project distribute. Select align select ipsum arrange rectangle. Pencil
                thumbnail project vertical content scale style. Mask boolean text pixel list.
            </p>
        </div>
    </section>

    <h2>Layout 9</h2>
    <section class="layout-9" color-theme="1">
        <div class="content">
            <div class="header">
                <h2>Lorem Ipsum</h2>
                <p class="subhead">Lorem Ipsum dolor sit amet</p>
            </div>
            <div class="details">
                <p class="main">Figma ipsum component variant main layer. Vertical hand underline rectangle overflow
                    prototype edit main. Background frame figjam image shadow select community. Bullet italic community
                    background pixel style editor.</p>
                <p>Figma ipsum component variant main layer. Ellipse pen flatten flatten union bold export device. Style
                    draft inspect pencil main scrolling prototype underline fill link. Asset rotate selection link fill
                    asset arrange polygon comment stroke. Vector selection text slice pen shadow. </p>
            </div>
        </div>
    </section>

    <h2>Footer</h2>
    <footer color-theme="1">
        <div class="contact" id="contact">
            <div class="content">
                <h2>Contact Us</h2>
                <p class="subhead">We're not here to sell you a system. We're here to be a partner—one who's as invested
                    in your people as you are.</p>                <p>2750
                    Buford Hwy Ste 750-308
                    Duluth, GA 30096,
                    United States</p>
                <a href="tel:+18445832019">+1(844) 583-2019</a>
            </div>
            <form action="https://formsubmit.co/info@synovahcm.com" method="POST">
                <input type="hidden" name="_subject" value="Website Activation">
                <input type="hidden" name="_template" value="box">
                <input type="hidden" name="_next" value="http://localhost:8000/layouts/#contact?thankyou=true">

                <div class="field-array">
                    <div class="input-field">
                        <label for="name">Name</label>
                        <input id="name" type="text" name="name" required>
                    </div>
                    <div class="input-field">
                        <label for="email">Email</label>
                        <input id="email" type="email" name="email" required>
                    </div>
                    <div class="input-field">
                        <label for="phone">Phone Number</label>
                        <input id="phone" type="text" name="phone number" required>
                    </div>
                    <div class="input-field">
                        <label for="business">Business Name</label>
                        <input id="business" type="text" name="business name" required>
                    </div>
                    <div class="input-field">
                        <label for="employees"># of Employees</label>
                        <input id="employees" type="text" name="# of employees" required>
                    </div>
                    <div class="input-field">
                        <label for="industry">Industry</label>
                        <input id="industry" type="text" name="industry" required>
                    </div>
                    <div class="input-field-checkbox">
                        <div>
                            <input type="checkbox" name="Interest_HR_Solutions" id="Interest_HR_Solutions"  value="True">
                            <label for="Interest_HR_Solutions">Human Resource Service Solutions</label>
                        </div>
                        <div>
                            <input type="checkbox" name="Interest-Payroll_Solutions" 
id="Interest-Payroll_Solutions"  value="True">
                            <label for="Interest-Payroll_Solutions">Payroll Service Solutions</label>
                        </div>
                    </div>
                    <!-- <input type="text" style="display: none" name="needs" value="" id="checkbox-value"> -->
                    

                </div>

                <button type="submit">Send</button>
            </form>
        </div>

        <div class="nav">
            <div class="content-array">
                <div class="content">
                    <h3>Contact Us</h3>
                    <ul>
                        <li><a href="#contact">Schedule a Call</a></li>
                        <!--<li><a href="#contact">Support</a></li>-->
                    </ul>
                </div>
                <div class="content">
                    <h3>What We Offer</h3>
                    <ul>
                        <li><a href="../services/">Services</a></li>
                        <li><a href="../industries/">Industries Served</a></li>
                    </ul>
                </div>
                <div class="content">
                    <h3>Solutions</h3>
                    <ul>
                        <li><a href="../services/human-resources/">Human Resources Service</a></li>
                        <li><a href="../services/payroll-services/">Payroll Service</a></li>
                    </ul>
                </div>
                <!-- <div class="content">
                    <h3>Who We Service</h3>
                    <ul>
                        <li><a href="">Small Businesses</a></li>
                        <li><a href="">Medium Size Businesses</a></li>
                        <li><a href="">Enterprise Clients</a></li>
                    </ul>
                </div> -->
                <div class="content">
                    <h3>Synova</h3>
                    <ul>
                        <li><a href="../privacy-policy.html">Data Privacy</a></li>
                        <li><a href="../about-us.html">About Synova</a></li>
                        <!-- <li><a href="">Corporate Responsibility</a></li> -->
                        <!-- <li><a href="">Leadership</a></li> -->
                        <!-- <li><a href="">Data Security</a></li> -->
                        <!-- <li><a href="">Certifications</a></li> -->
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>